h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.list {
  list-style-type: none;
}

.link {
  text-decoration: none;
}

button {
  cursor: pointer;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.conteiner {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/*====== headr ======*/

.page-header-conteiner {
  display: flex;
  justify-content: space-between;
}

.page-navigation {
  display: flex;
  width: 450px;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.logo-link {
  color: #2e2f42;
}

.logo:hover,
.logo:focus {
  color: #404bbf;
}

.logo-link:hover,
.logo-link:focus {
  color: #404bbf;
}

.menu {
  display: flex;
  column-gap: 40px;
}

.menu-link {
  display: block;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding-top: 24px;
  padding-bottom: 24px;
  color: #2e2f42;
}

.menu-link:hover,
.menu-link:focus {
  color: #404bbf;
}

.contact {
  font-style: normal;
}

.contact-list {
  display: flex;
  column-gap: 40px;
}

.contact-item {
  display: block;
  font-size: 16px;
  font-weight: 400;
  padding-top: 24px;
  padding-bottom: 24px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.contact-item:hover,
.contact-item:focus {
  color: #404bbf;
}
/*====== headr ======*/

/*====== hero ======*/

.hero {
  background-color: #2e2f42;
  padding-top: 188px;
  padding-bottom: 188px;
  margin-bottom: 60px;
}
.hero-title {
  color: #fff;

  width: 496px;
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  margin-left: auto;
  margin-right: auto;

  margin-bottom: 48px;
}

.hero-button {
  display: block;
  background-color: #4d5ae5;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  margin-left: auto;
  margin-right: auto;
  padding: 16px 32px;
  border-radius: 4px;
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
  color: #fff;
}

/*====== hero ======*/

/* ======feature ======*/

.feature-list {
  display: flex;
  column-gap: 24px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.feature-list-item {
  width: 264px;
}

.feature-list-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.feature-list-text {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* ======feature ======*/

/*======= team =======*/

.team {
  background-color: #f4f4fd;
}

.team-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
}

.team-item {
  background-color: #ffffff;
}

.team-item-title {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.team-item-text {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/*======= team =======*/

/*===== portfolio =====*/

.portfolio-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
}

.portfolio-item-title {
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.2;
  font-size: 20px;
  color: #2e2f42;
}

.portfolio-item-text {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/*===== portfolio =====*/

/*====== footer ======*/

.footer-list {
  background-color: #2e2f42;
}

.footer-logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-logo-link {
  color: #f4f4fd;
}

.footer-logo:hover,
.footer-logo:focus {
  color: #404bbf;
}

.footer-logo-link:hover,
.footer-logo-link:focus {
  color: #404bbf;
}

.text-footer {
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/*====== footer ======*/
